*{font-family:"Poppins";}
h1{font-size:60px}
body{height:100vh;background:#0a0f14;overflow-y:auto;color:white;transition:background 0.5s}
canvas{position:fixed;top:0;left:0;z-index:0}
.container{position:relative;z-index:2;height:60vh;display:flex;justify-content:center;align-items:center}
.emus{display:grid;grid-template-columns:repeat(4,1fr);gap:10px}
